<div class="p-grid root">
  <div class="p-col-1 p-md-2"></div>
  <div class="p-col-10 p-md-8">
    <div class="p-grid">
      <div class="p-col-3 center">
        <span>
          <i class="pi pi-copy image"></i>
        </span>
      </div>
      <div class="p-col-6 center">
        <span>
          <i class="pi pi-arrow-right image-smaller"></i>
        </span>
      </div>
      <div class="p-col-3 center">
        <span>
          <i class="pi pi-download image"></i>
        </span>
      </div>
      <div class="p-col-12 center">
        <p>
          File-ripper is a lightweight library for tearing into your text files and unleashing the data inside. With
          file-ripper, you're in control of reading your files. You define the format of your files via file-ripper's convenient
          FileDefinition and FieldDefinition interfaces. You decide how to persist your file configurations for use, and you
          decide how to use your data once it is returned. File-ripper supports fixed-width, character delimited, and XML formats.
          Your data is returned in a simple format that can easily be converted to JSON for submitting to a REST API.
          Optionally, you can specify an object builder function to have your data returned in the data type of your choice.
        </p>
      </div>
    </div>
  </div>
  <div class="p-col-1 p-md-2"></div>
</div>
