.p-col-6 span {
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.p-grid {
  background-color: #1f2d40;
  min-height: 400px;
}

p {
  color: #dedede;
}

.root {
  background-color: #1f2d40;
  height: 100%;
}

.image {
  font-size: 45px;
  color: #81c785;
}

.image-smaller {
  font-size: 30px;
  color: #81c785;
}

@media screen and (min-width: 768px){
  .image {
    font-size: 150px;
    color: #81c785;
  }

  .image-smaller {
    font-size: 100px;
    color: #81c785;
  }

  p {
    color: #dedede;
    padding: 0 20px;
    font-size: larger;
  }
}
