.p-grid {
  background-color: #1f2d40;
  min-height: 100px;
}

.p-lg-4 {
  text-align: center;
  margin: auto;
}

.tab-menu {
  display: none;
}

.p-col-8 {
  margin: auto;
}

.p-lg-4 span {
  font-family: "Brush Script MT", serif;
  font-size: 38px;
  color: #81c785;
}

.p-col-2 {
  font-size: 62px;
  color: #81c785;
  text-align: right;
  margin: 20px 0;
}

i {
  font-size: x-large;
}

.menu-icon {
  visibility: visible;
}

@media screen and (min-width: 992px) {
  .tab-menu {
    visibility: visible;
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .p-lg-4 span {
    font-family: "Brush Script MT", serif;
    font-size: 62px;
    color: #81c785;
  }
}
