<p-table [value]="fileDefinition.fieldDefinitions">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th *ngIf="fileDefinition.fileType == fixedType.value">Start Position</th>
      <th *ngIf="fileDefinition.fileType == fixedType.value">Field Length</th>
      <th *ngIf="fileDefinition.fileType == delimitedType.value">Position on Row</th>
      <th *ngIf="fileDefinition.fileType == xmlType.value">XML Field Name</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-fieldDef>
    <tr>
      <td>{{fieldDef.fieldName}}</td>
      <td *ngIf="fileDefinition.fileType == fixedType.value">{{fieldDef.startPosition}}</td>
      <td *ngIf="fileDefinition.fileType == fixedType.value">{{fieldDef.fieldLength}}</td>
      <td *ngIf="fileDefinition.fileType == delimitedType.value">{{fieldDef.positionInRow}}</td>
      <td *ngIf="fileDefinition.fileType == xmlType.value">{{fieldDef.xmlFieldName}}</td>
      <td>
        <div class="p-grid">
          <div class="p-col-3">
            <a (click)="editField.emit(fieldDef)">
              <i class="pi pi-pencil"></i>
            </a>
          </div>
          <div class="p-col-3">
            <a (click)="moveDown(fieldDef)">
              <i class="pi pi-arrow-down"></i>
            </a>
          </div>
          <div class="p-col-3">
            <a (click)="moveUp(fieldDef)">
              <i class="pi pi-arrow-up"></i>
            </a>
          </div>
          <div class="p-col-3">
            <a (click)="deleteField(fieldDef)">
              <i class="pi pi-times"></i>
            </a>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
